<?php
return [
  'smtp_host' => 'smtp.example.com',
  'smtp_email' => 'your@email.com',
  'smtp_password' => 'your-password',
  'smtp_from_name' => 'ANMELDUNG',
  'curry_api_base_url' => 'https://{{ CURRY APP }}/api/school/',
];